name: github-pages

on:
  push:
    branches:
      - master

jobs:
  build:
    permissions:
      contents: write
      pages: write
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v5

    - name: Get MNIST dataset
      run: |
        chmod +x ./get-mnist.sh
        ./get-mnist.sh

    - name: Set up Zig
      uses: mlugg/setup-zig@v2
      with:
        version: 0.15.2

    - name: Build the project
      run: |
        zig build

    - name: Deploy to GitHub Pages
      if: ${{ github.ref == 'refs/heads/master' }}
      uses: peaceiris/actions-gh-pages@v4
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./zig-out/web/public
